.wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-logo {
  width: 295px;
  height: 67px;
}

.home-wrapper {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/home-image/cyberpunk.png") no-repeat;
  display: flex;
  justify-content: space-between;
}

.link-icon-wrapper {
  width: 30px;
  height: 30px;
}

.header-wrapper__wrapper {
  display: flex;
  height: 67px;
}

.header-wrapper {
  width: 1360px;
  height: 67px;
  /*  display: flex;
  justify-content: space-between; */
}

.header-wrapper__title-logo {
  width: 295px;
  height: 67px;
}

.main-header {
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /*   position: relative; */
}

.aside-wrapper-home {
  width: 1360px;
  /* max-width: 1920px; */
  height: 370px;
  border: 1px solid purple;
  /*  display: flex;
  justify-content: end;
  align-items: flex-end; */
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

.square {
  width: 485px;
  height: 126px;
}

.div-elem {
  width: 100%;
  height: 300px;
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.elem {
  width: 100px;
  height: 20px;
  border: 1px solid #000;
}

.maih-cyber {
  width: 100%;
  height: 2000px;
  border: 1px solid #000;
}
